.login-page {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #273057;
}

.login-logo {
    width: 180px;
    height: 180px;
}

.login-page h1 {
    width: 80vw;

    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;

    margin-top: 30px;
    padding-bottom: 15px;

    border-bottom: 1px solid #FFFFFF;
}

.login-form {
    height: 230px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form label {
    height: 40px;
    display: flex;
    flex-direction: row;
}

.login-form input {
    width: 280px;
    height: 50px;
    margin-left: 2px;
    padding-left: 10px;

    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px; 
    outline: none;

    font-size: 28px;
}

.login-icon {
    width: 48px;
    height: 48px;
    padding: 2px 2px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;    
    border-bottom-left-radius: 20px;     
    background-color: #FFFFFF;
}

#login-btn {
    width: 180px;
    font-size: 24px;
    align-self: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    transform: all 0.8s;
}

#login-btn:active {
    background-color: #000000;
    color: #FFFFFF;
    transform: all 0.8s;
}

.danger-text {
    color: #BA3434;
}

.page-bg-style1 {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #F2E5C2;
}

.profile-page {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #273057;    
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.profile-page p{
    height: 50px;
    width: 70vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #273057;

    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-logout-btn{
    width: 50vw;
    height: 40px;
    margin-top: 40px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;

    background-color: #BA3434;
    border-radius: 20px;
    border: none;
    outline: none;
}

.back-btn {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-top-bg-style1 {
    height: calc(15vh - 20px);
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #273057;
}

#header-home {
    height: 40%;
    width: 45%;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: #273057;

    border-radius: 20px;
    background-color: #FFFFFF;
}

.profile-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-btn img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#header-time {
    width: 50px;
    text-align: center;
    color: #273057;
}

.page-body-bg {
    height: calc(85vh - 80px);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.home-funtion {
    height: 280px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}

#img-btn img{
    width: 180px;
    height: 180px;
}

#img-btn {
    border-style: none;
    outline: none;
    background: none;
}

#f1-text-btn{
    width: 280px;
    height: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #273057;
    background-color: #F2E5C2;
    border-radius: 20px;
    border: none;
    outline: none;
}

#f2-text-btn{
    width: 280px;
    height: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
    background-color: #A39067;
    border-radius: 20px;
    border: none;
    outline: none;
}

#back-btn2 {
  width: 40px;
  height: 40px;
  margin: 5px;

  font-size: 30px;
  padding: 0px;
}

.body-check-bg {
    height: calc(85vh - 80px);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    background-color: #FFFFFF;
}

#body-check-head {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    justify-content: left !important;
    margin: 0px;
}

.check-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#text-check {
    width: 100px;
    margin: 0px;
    font-size: 16px;
    align-self: center; 
}

#search-input {
    height: 25px;
    width: 200px;
    font-size: 16px;
    padding: 4px 10px;
    text-align: center;

    border: 1px solid #F2E5C2;
    border-radius: 16px;
    outline: none;
}

.select-sort {
    width: 120px;
    height: 30px;
    border: 1px solid #F2E5C2;
    background-color: #FFFFFF;
    outline: none;
}

#show-table table{
    width: 100%;
}

#show-table th {
    font-size: 14px;
    border-bottom: 1px solid #000000;
}

#show-table td {
    font-size: 12px;
}

.show-data-table {
    height: 60%;
    width: 90%;
    overflow: auto;
    align-self: center;
    margin-top: 20px;
    border: 1px solid #000000;
}

.downloade-btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;

    color: #273057;
    background-color: #FFFFFF;
    border: 1px solid #273057;
    border-radius: 10px;
    outline: none;
}

.downloade-btn:active {
    color: #FFFFFF;
    background-color: #273057;
}

.bg-modal {
    width: 100%;
    height: 100%;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
}

.data-modal {
    width: 60%;
    height: fit-content;
    min-height: 20%;
    position: relative;
    padding: 30px 20px;
    border: 10px solid #F2E5C2;
    background-color: #FFFFFF;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    background: none;
    border: none;
}

.close-btn:hover {
    background: #000000;
    color: #FFFFFF; 
}

.close-btn:active {
    outline: #000000;
}

.data-modal h1 {
    text-align: center;
    margin: 10px 0px 0px;
    padding-bottom: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #A39067;
    border-bottom: 2px solid #D6D6D6;;
}

.data-modal form {
    display: flex;
    flex-direction: column;
}

.data-modal label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.data-modal label p {
    width: 40%;
    height: 20px;
    margin: 0px;
    font-size: 14px;
}

.data-modal label select {
    align-items: center;
    width: 80px;
    height: 25px;
}

.data-modal label select option{
    align-content: center;
    width: 100px;
    height: 25px;
}

.alert-text {
    color: #BA3434;
    font-size: 12px;
    align-self: center;
    margin: 0px 0px 5px;
}

.download-submit {
    width: 120px;
    height: 40px;
    align-self: center;
    margin-top: 10px;

    font-size: 13px;
    color: #273057;
    background-color: #F2E5C2;
    
    border-radius: 10px;
    border: none;
    outline: none;
}

#link-download {
    align-self: center;
}

.search-box {
    display: flex;
    justify-content: space-between;
}

#search-btn {
    width: 80px;
    height: 30px;

    outline: none;
    border-radius: 10px;
    border: 1px solid #273057;
    background-color: #F2E5C2;

    font-size: 14px;
    color: #273057;
}

.upload-bg {
    height: calc(85vh - 80px);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.qrcode-data {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.checkin-box {
    width: 80%;
    height: 60%;
    background-color: #FFFFFF;
    border: 10px solid #F2E5C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-bg {
    width: 100%;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.4);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-body2-bg {
    height: calc(85vh - 80px);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.check-in-bottom-btn {
    display: flex;
    justify-content: space-around;
}

#back-home-btn {
    width: 100px;
    height:24px;

    color: #273057;

    background: none;
    border: 1px solid #273057;
    border-radius: 10px;
}

#submit-in-btn {
    width: 100px;
    height:24px;

    color: #273057;

    background: #F2E5C2;
    border: 1px solid #273057;
    border-radius: 10px;
}

#submit-out-btn {
    width: 100px;
    height:24px;

    color: #FFFFFF;

    background: #BA3434;
    border: 1px solid #BA3434;
    border-radius: 10px;
}

.noti-action {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-color:  rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.noti-content {
    width: 80%;
    height: 20%;
    padding: 10px;
    background-color: #FFFFFF; 
    border: 5px solid #273057;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notiShow {
    visibility: visible !important;
}

.notiHide {
    visibility: hidden !important;
}

#icon-check-page {
    height: 30px;
    width: 30px;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #007A14;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.upload-box {
    display: flex;
    flex-direction: column;
}

#upload-btn {
    width: 100px;
    height: 40px;
    align-self: center;

    color: #273057;
    background: #F2E5C2;
    border-radius: 10px;
    border: none;
    outline: none;
}

.upload-modal {
    width: 60%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border: 10px solid #F2E5C2;
    background-color: #FFFFFF;
}